venv/
__pycache__/
**/__pycache__/
*.pyc
.env
.git/
.gitignore
data_local/
data_processed/backups/
experiments/
tests/
scripts/
notebooks/
*.ipynb
data/use_cases/
data/AR/
data/ENG/
*.md
!DEPLOY.md
.DS_Store
